body {
    background-color: rgb(22, 22, 37);
    padding-top: 60px;
    padding-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
    color: white;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
  }

  html {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    
  }
  

main{
    display: flex;
    flex-direction: column;
    flex: 1 0 0; 
}

section{
    height: 100vh;
    width: 100%;
    padding: 3rem 4rem;
    box-sizing: border-box;
}

/* Navbar */
.navbar-custom{
    background-color: rgb(9,28,52);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}
.navbar .navbar-brand,
.navbar .nav-link {
  color: white;
}


@media only screen and (min-width: 992px) {
    .navbar {
        padding: 0;
    }

    .navbar .navbar-brand {
        padding: 0 0.7em;
    }

    .navbar .navbar-nav .nav-link {
        padding: 1em 0;
    }

    .navbar .navbar-nav .nav-link {
        margin: 0 1em;
    }
}

.navbar .navbar-nav .nav-link {
    position: relative;
}

.navbar .navbar-nav .nav-link:hover {
    color: cyan;
}

.navbar .navbar-nav .nav-link.active {
    color: cyan;
}


.navbar .navbar-nav .nav-link::after {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: cyan;
    width: 0%;
    content: "";
    height: 4px;
    transition: all .5s;
}

.navbar .navbar-nav .nav-link.active::after {
    width: 100%;
}

.navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
}


/* Intro */
.intro {
    display: flex;
    color: white;
    padding-top: 50px;
    height: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  
  /* Remaining CSS code... */
  

@media (max-width: 1000px) {
    .intro{
    flex-direction: column;
    }
    .intro-text{
        align-items: center;
        justify-content: center;
    }
}

.intro-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
}

.intro-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
}

.intro-image img{
    object-fit: cover;
    max-width: 300px;
    max-height: 300px;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.info-1{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    margin-bottom: 10px;
}

.info-2{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.info-3{
    font-size: 20px;
}

/* Techstack */

.techstack{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.heading{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: cyan;
}

.techstack-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    width: 600px;
    margin-top: 100px;

}

.stack-items
{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    color: white;
    padding: 5px;
    
}

.stack-items img{
    object-fit: cover;
}

@media (max-width: 900px) and (min-width:501px) {
    .techstack-grid{
    grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 500px) {
    .techstack-grid{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    }
}


/* Projects */

.projects{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    width: 100%;
}

.project{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.project-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width:960px) {
    .project-info{
        flex-direction: column;
    }
    .project-image{
        order: 1;
    }
    .project-text{
        order:2;
    }
}

.project-title{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding: 10px;
}

.project-text{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    line-height: 30px;
    align-items: center;
}

.project-link{
    width:100%;
    background-color: cyan;
    border-radius: 10px;
    border: none;
    padding: 8px 0px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.project-text a{
    width:50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.project-image{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-image img{
    object-fit: contain;
    height: 80%;
    width: 80%;
}

@media (max-width: 1000px) {
    .project {
      grid-template-columns: 1fr;
    }
}